.btn--wrapper {
  display: inline-block;
  cursor: pointer;
}
.btn--wrapper[data-state='disabled'] {
  cursor: not-allowed;
}

.btn--wrapper[data-state='loading'] {
  cursor: progress;
}

.btn--wrapper[data-state='disabled'] .btn,
.btn--wrapper[data-state='loading'] .btn {
  pointer-events: none;
}

// Button Section Style End
.icon-button {
  // background: transparent;
  border: 1px solid var(--opacity-6);
  width: 1em;
  height: 1em;
  padding: 0;
  flex-shrink: 0;
}

.btn {
  position: relative;
  display: inline-flex;
  min-width: 3rem;
  justify-content: center;
  gap: 0.5em;
  font-weight: 500;
  padding: 0.25em 0.75em;
  border: 1px solid var(--color-shared-7);
  transition: transform 0.2s;
  overflow: hidden;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  letter-spacing: 0.5px;
  cursor: inherit;
  outline: none;
}

.btn:hover {
  background-color: var(--color-shared-5);
}

.btn:disabled {
  color: var(--slate-10);
  background-color: var(--slate-7);
  border-color: var(--slate-7);
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus-visible {
  outline: 2px solid var(--color-shared-8);
  outline-offset: 2px;
}

.btn svg {
  width: 1.375em;
}

.icon-button svg {
  width: 0.625em;
  stroke-width: 1px;
  // color: var(--text-5);
}
//  Size Section Style End

// Button Size Section

.btn__xs {
  font-size: 0.675rem;
}

.btn__sm {
  font-size: 0.75rem;
}

.btn__md {
  font-size: 0.875rem;
}

.btn__lg {
  font-size: 1rem;
}

.btn__xl {
  font-size: 1.125rem;
}
// Color Button Section Style

// Icon Button Size Section Style Start

.icon-button__xs {
  font-size: 1.5rem;
}
.icon-button__sm {
  font-size: 2rem;
}
.icon-button__md {
  font-size: 2.25rem;
}
.icon-button__lg {
  font-size: 2.5rem;
}
.icon-button__xl {
  font-size: 3rem;
}
// Icon Button Size Section Style End

//  Size Section Style End

// Variant Section Style Start

.btn__solid,
.icon-button__solid {
  background-color: var(--color-shared-8);
  border-color: var(--opacity-6);
  color: var(--color-shared-12);
}
.btn__solid:hover,
.icon-button__solid:hover {
  background-color: var(--color-shared-7);
}

.btn__outline,
.icon-button__outline {
  color: var(--color-shared-11);
  border-color: var(--color-shared-11);
  background-color: var(--color-shared-1);
}

.btn__soft,
.icon-button__soft {
  color: var(--color-shared-11);
  background-color: var(--color-shared-3);
  border-color: var(--color-shared-5);
}

.btn__text {
  color: var(--color-shared-11);
  border-color: transparent;
}

.btn__link {
  color: var(--color-shared-11);
  border-color: transparent;
  text-decoration: 1px solid underline;
}
.btn__link:hover {
  background-color: var(--color-shared-2);
  text-decoration: 2px solid underline;
}

.icon-button:hover {
  border-color: var(--color-shared-7);
}

.icon-button:focus-visible {
  border-color: var(--color-shared-7);
  outline: 1px solid var(--color-shared-8);
}

.icon-button__transparent:hover {
  background-color: var(--color-shared-2);
}

// Variant Section Style Start

// size Block Style Section

.btn__block {
  display: flex;
  width: 100%;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--slate-7);
  cursor: progress;
}

// Button Section Style End

// Icon Button Section Style End

.btn--wrapper__fluid,
.fluid__button {
  display: flex;
  width: 100%;
  flex: 1;
}
