.u_corner--sharp {
  border-radius: 0;
}

.u_corner--2xs {
  border-radius: 0.125rem;
}

.u_corner--xs {
  border-radius: 0.25rem;
}

.u_corner--sm {
  border-radius: 0.35rem;
}

.u_corner--md {
  border-radius: 0.5rem;
}

.u_corner--lg {
  border-radius: 0.75rem;
}

.u_corner--xl {
  border-radius: 1rem;
}
.u_corner--2xl {
  border-radius: 1.5rem;
}
.u_corner--full {
  border-radius: 100rem;
}
