.chips {
  text-transform: capitalize;
  display: inline-flex;
  line-height: 1.2;
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
  border: 2px solid transparent;
  font-weight: 500;
  vertical-align: middle;
}

// Variants Style Section

.chips__solid {
  background-color: var(--color-shared-8);
  color: var(--color-shared-12);
}

.chips__outline {
  color: var(--color-shared-11);
  border-color: var(--color-shared-11);
}

.chips__soft {
  border-color: var(--color-shared-7);
  background-color: var(--color-shared-3);
  color: var(--color-shared-11);
}

// Size Style Section

.chips__sm {
  font-size: 0.675rem;
}

.chips__md {
  font-size: 0.75em;
}

.chips__lg {
  font-size: 0.865rem;
}
