.accordion {
  box-shadow: 0 2px 8px var(--opacity-6);
  width: 100%;
}

// Variant Style Section Start

.accordion__contained .accordion--trigger {
  background-color: var(--color-shared-7);
}

.accordion__filled .accordion--trigger {
  background-color: var(--color-shared-4);
}

.accordion__separate > * + * {
  box-shadow: 0 2px 8px var(--opacity-4);
}

.accordion__default > * + * {
  border-top: 1px solid var(--slate-4);
}

// Variant Style Section End

.accordion--trigger {
  width: 100%;
  border: 2px solid transparent;
  padding-block: 0.5rem;
}
.accordion--trigger:focus-visible {
  background-color: var(--color-shared-4);
  border-color: var(--color-shared-9);
}
.accordion--content,
.accordion--trigger {
  padding-inline: 1rem;
}

.accordion--content .accordion--trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion--trigger svg {
  transition: transform 100ms;
}
.accordion--trigger[aria-expanded='true'] svg {
  transform: rotate(-180deg);
  transition: transform 250ms;
}

.accordion--content[data-state='open'] {
  height: var(--radix-collapsible-content-height);
  transition: height 1s;
}
