.carousel {
  position: relative;
  font-size: 1em;
  overflow: hidden;
}

.carousel--viewport {
  width: auto;
}

.carousel--container__horizontal {
  flex-direction: row;
}
.carousel--container__vertical {
  flex-direction: column;
  height: 500px;
}

.carousel--slide {
  flex: 0 0 calc(100% / var(--per-view-carousel));
  min-width: 0;
}
.carousel--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel--control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: none;
}
.carousel--control__previous {
  left: 0.5rem;
}
.carousel--control__next {
  right: 0.5rem;
}

.carousel--indicator {
  width: 30px;
  height: 6px;
  border-radius: 1000px;
  background-color: var(--B6);

  &[data-active='true'] {
    background: linear-gradient(to right, var(--P9), var(--P11), var(--P10));
    box-shadow: inset 0 0 4px var(--P11);
  }
}

.carousel--indicators {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: var(--O5);
}

.hide_controls {
  display: none;
}
