html,
body,
#root {
  height: 100%;
}

.admin-layout {
  min-height: 100%;
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--slate-2);
  color: var(--text-1);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu,
    Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Lucida Grande', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
dl,
dd,
ol,
ul,
fieldset {
  margin: 0;
  padding: 0;
}

pre {
  font-size: 0.875rem;
  tab-size: 1;
}
