.admin-layout {
  --header-footer-height: 3.75rem;
  display: grid;
  background-color: var(--B4);
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--header-footer-height) 1fr var(--header-footer-height);
  grid-template-areas: 'sidebar header' 'sidebar main' 'sidebar footer';
  transition: grid-template-columns 1s;
}

.main {
  grid-area: main;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}
