.billing-item {
  padding: 0;
}

.billing-trigger {
  width: 100%;
  height: 100%;
  padding: 1rem;
  &[data-current='true'] {
    box-shadow: inset 0 0 0 2px;
    .billing-check {
      display: initial;
    }
  }
}

.billing-check {
  display: none;
}

.icon-wrapper {
  border: 1px solid var(--O6);
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.pricing-review--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.plan-feature--icon-wrapper {
  background-color: var(--B12);
  color: var(--B1);
  padding: 0.5rem;
  border-radius: 0.25rem;
}
