.inbox {
  width: 100%;
  max-height: 100%;
  padding: 0;
  position: relative;
  height: calc(100vh - (var(--header-footer-height) * 2) - 2rem);
  background-color: var(--B1);
}
.inbox-nav {
  border-inline-end: 1px solid var(--B5);
  overflow-y: auto;
}

.inbox-list > * + *,
.inbox--list-item > * + * {
  border-top: 1px solid var(--B4);
}
.inbox-compose {
  margin: 1.5rem;
}
.inbox--item {
  padding: 0.125rem 0.5rem;
}
.inbox--item:hover {
  background-color: var(--P3);
}

.inbox-nav--item-link {
  padding: 0.5rem 1rem;
  outline: transparent 1px solid;
  border-left: 3px solid transparent;
}
.inbox-nav--item-link:hover {
  background-color: var(--B5);
}

.inbox-nav--item-link[aria-current='page'] {
  border-color: var(--B8);
  background-color: var(--B6);
}

.inbox-content {
  padding: 1rem;
  overflow: auto;
}
.inbox-item--link {
  padding: 0.5rem;
  width: 100%;
}
.inbox-item--link:hover {
  background-color: var(--color-opacity-1);
}

.inbox-item--star[data-active='true'] {
  & > svg {
    fill: var(--W9);
    stroke: var(--W9);
  }
}

.inbox-item--important[data-active='true'] {
  & > svg {
    fill: var(--D9);
    stroke: var(--D9);
  }
}
