.tabs {
  box-shadow: 0 2px 6px var(--opacity-6);
  border: 1px solid var(--slate-6);
}

.tabs__sm {
  width: min(50ch, 100%);
}
.tabs__md {
  width: min(65ch, 100%);
}
.tabs__lg {
  width: min(80ch, 100%);
}
.tabs__full {
  width: 100%;
}

.tabs--list {
  border-bottom: 1px solid var(--slate-5);
  padding-inline: 1rem;
  padding-block-start: 0.5rem;
}

.tabs--content {
  flex-grow: 1;
  background-color: var(--slate-1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  padding: 0.5rem;
}
.tabs--content:focus {
  box-shadow: 0 0 0 2px var(--color-shared-8);
}

.tabs--trigger {
  min-width: 4rem;
  font-weight: 500;
  padding: 4px 16px;
  color: var(--slate-11);
  border-start-start-radius: 6px;
  border-start-end-radius: 6px;
}

.tabs--trigger__fluid {
  width: 100%;
  display: flex;
}

.tabs--trigger__solid {
  &[aria-selected='true'] {
    background-color: var(--color-shared-8);
    color: var(--color-shared-12);
    font-weight: 500;
  }
}

.tabs--trigger__soft {
  border: 1px solid transparent;

  &[aria-selected='true'] {
    background-color: var(--color-shared-4);
    color: var(--color-shared-12);
    border: 1px solid var(--color-shared-6);
    border-bottom-color: transparent;
  }
}

.tabs--trigger__outline {
  border: 1px solid transparent;
  margin-block-end: -1px;
  &[aria-selected='true'] {
    border-color: var(--color-shared-8);
    color: var(--color-shared-11);
    border: 1px solid var(--slate-5);
    border-bottom-color: transparent;
    background-color: var(--slate-1);
  }
}

.tabs--trigger__link {
  border-bottom: 3px solid transparent;
  &[aria-selected='true'] {
    border-color: var(--color-shared-8);
    color: var(--color-shared-11);
  }
}
