.spinner {
  width: var(--loader-size, 1.5rem);
  height: var(--loader-size, 1.5rem);
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid;
  border-radius: 50%;
  animation: spinnerMove 1s infinite linear;
  transform: rotate(-45deg);
  color: var(--slate-7);
}

.spinner::after {
  border-left-color: var(--color-shared-9);
  border-top-color: var(--color-shared-9);
}

.spinner[data-inverted="true"] {
  &::before,
  &::after {
    color: var(--slate-12);
  }
  &::after {
    border-left-color: var(--color-shared-8);
    border-top-color: var(--color-shared-8);
  }
}

// Spinner Size Style Section Start

.spinner__sm {
  --loader-size: 1.25em;
}
.spinner__md {
  --loader-size: 1.75em;
}

.spinner__lg {
  --loader-size: 2.5em;
}

// Spinner Size Style Section End

@keyframes spinnerMove {
  to {
    transform: rotate(360deg);
  }
}
