.auth-container {
  background: radial-gradient(circle, var(--P6) 0%, var(--P11) 100%);
  margin: -1rem;
  height: calc(100% + 2rem);
}

.auth {
  min-width: 280px;
  max-width: 800px;
}
.auth-button {
  color: white;
  padding: 0.375rem 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: var(--background);
}
