.auth-container {
  background: radial-gradient(circle, var(--primary-6) 0%, var(--primary-11) 100%);
  margin: -1rem;
  height: calc(100% + 2rem);
  height: 100%;
}

.auth {
  min-width: 280px;
  width: 40%;
}
.auth-button {
  color: white;
  padding: 0.375rem 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: var(--background);
}
.auth-button:hover {
  filter: brightness(0.85);
}

.auth-button__facebook {
  --background: hsl(221, 44%, 41%);
}

.auth-button__github {
  --background: #444444;
}
.auth-button__twitter {
  --background: hsl(206, 82%, 63%);
}
.auth-button__gmail {
  --background: hsl(7, 71%, 55%);
}

.auth-button:focus {
  outline: 2px solid var(--background);
}
