:root {
  --Bl-1: #fcfdfc;
  --Bl-2: #f8faf8;
  --Bl-3: #eff1ef;
  --Bl-4: #e7e9e7;
  --Bl-5: #dfe2df;
  --Bl-6: #d7dad7;
  --Bl-7: #cccfcc;
  --Bl-8: #b9bcb8;
  --Bl-9: #898e87;
  --Bl-10: #7f847d;
  --Bl-11: #60655f;
  --Bl-12: #1d211c;

  --Bd-1: #111210;
  --Bd-2: #181917;
  --Bd-3: #212220;
  --Bd-4: #282a27;
  --Bd-5: #2f312e;
  --Bd-6: #383a36;
  --Bd-7: #454843;
  --Bd-8: #5c625b;
  --Bd-9: #687066;
  --Bd-10: #767d74;
  --Bd-11: #afb5ad;
  --Bd-12: #eceeec;
}
