.breadcrumb svg {
  width: 1em;
}

.breadcrumb--item__sm {
  font-size: 0.825rem;
}
.breadcrumb--item__md {
  font-size: 1rem;
}
.breadcrumb--item__lg {
  font-size: 1.125rem;
}

.breadcrumb--link {
  color: var(--indigo-11);
}
.breadcrumb--link:hover {
  text-decoration: underline 2px;
  color: var(--indigo-12);
}
.breadcrumb--link[aria-current='page'] {
  color: var(--slate-11);
  text-decoration: none;
}
