.menu-button--header,
.menu-button--footer {
  background-color: var(--B2) !important;
}

.menu-button--item {
  padding: 0.5rem;
  outline: none;
  cursor: pointer;

  &[data-read='true'] {
    background-color: var(--P3);
    &:hover {
      background-color: var(--P4);
    }
  }
  &:hover {
    background-color: var(--B3);
  }
  &:focus-visible {
    outline: dashed 2px var(--P9);
    outline-offset: -3px;
  }
}

.menu-button--container {
  border-radius: 0.25rem;
  max-height: 60vh;
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  animation: fromBottom 0.25s ease-in-out;
  z-index: 10;
  border: 1px solid var(--B5);
  box-shadow: 0 0 8px var(--B3);
  background-color: var(--B1);
}

.menu-button--main {
  overflow: auto;
  scrollbar-width: thin;
}

.menu-button--separator {
  background-color: var(--B5);
  height: 1px;
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
